@font-face {
  font-family: 'FiraSansCondensed';
  src: url('@/shared/assets/fonts/FiraSansCondensed-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FiraSansCondensed';
  src: url('@/shared/assets/fonts/FiraSansCondensed-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FiraSansCondensed';
  src: url('@/shared/assets/fonts/FiraSansCondensed-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FiraSansCondensed';
  src: url('@/shared/assets/fonts/FiraSansCondensed-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProtestRevolution';
  src: url('@/shared/assets/fonts/ProtestRevolution-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
