.notes {
  position: relative;
  z-index: 1;
  background-color: transparent;
  padding: 24px;
  margin-top: -350px;

  &__body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 1 2;
    gap: 18px;

    @include laptop-s {
      flex-direction: column;
    }

    @include mobile {
      flex-direction: column;
    }
  }

  &__main {
    flex: 1;
  }

  &__search {
    margin-bottom: 18px;

    .input {
      border-radius: var(--border-radius-s); // или конкретное значение
    }
  }

  &__empty {
    text-align: center;
    color: var(--color-text-secondary);
  }
}

