.home-overview {
  z-index: 1;
  position: relative;
  margin-top: -250px;
  margin-bottom: 30px;

  &__card {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 0 fluid(100, 50);

    :nth-child(odd) {
      .home-card__main-value {
        color: var(--color-primary);
      }
    }

    @include mobile {
      flex-direction: column;
    }
  }

  &__button {
    width: fluid(220, 140);
  }
}