.todo {
  position: relative;
  z-index: 1;
  display: flex;
  background-color: transparent;
  gap: 24px;
  padding: 24px;
  margin-top: -150px;

  &__main {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 18px;
  }

  &__list {
    display: grid;
    gap: 10px;
  }

  &__empty {
    text-align: center;
    color: var(--color-text-secondary);
  }
}

.todo-item-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.todo-item-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.todo-item-exit {
  opacity: 1;
  transform: translateY(0);
}

.todo-item-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}