.notes-item {

  &__list {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(3, 1fr);
    columns: 3;
    gap: 16px;
    list-style: none;
    padding: 0;
  }

  &__item {
    background-color: var(--color-surface);
    border-radius: var(--border-radius-s);
    box-shadow: var(--shadow-l);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    break-inside: avoid;
    margin-bottom: 16px;
    height: 200px;

    transition: var(--transition-fast);
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(0.98);
      filter: brightness(0.95);
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
  }

  &__color {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  &__left {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__actions {
    display: flex;
    align-items: center;

    button{
      width: 30px !important;
      height: 30px !important;
    }
    svg {
      width: 20px;
      height: 20px;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: auto;

    svg {
      width: 24px;
      height: 24px;
    }
  }

}