.hero {
  position: relative;
  min-height: 90vh;

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: fluid(60, 30) fluid(100, 50);
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__title {
    font-family: var(--font-family-base), sans-serif;
    font-size: fluid-to-laptop(52, 32);
    color: var(--color-text);
  }

  &__description {
    font-family: var(--font-family-base), sans-serif;
    font-size: fluid(14, 12);
  }

  &__action {
    button {
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    }
  }


  &::after {
    pointer-events: none;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120px;
    background: linear-gradient(to top, var(--color-bg), transparent);
  }
}