.editor {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
  }

  &__colors {
    display: flex;
    gap: 8px;
  }

  &__color-option {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: var(--transition-fast);

    &:hover {
      transform: scale(1.2);
    }

    &--active {
      outline: 1px solid var(--color-primary);
      outline-offset: 2px;
    }
  }

  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__body-text {
    resize: none;
    overflow-y: auto;
    overflow-x: hidden;

    width: 600px;
    height: 400px
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;

    max-width: 100%;
    overflow: hidden;
  }

  &__tag {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 2px 8px;
    border-radius: 20px;
    border: 1px solid var(--color-primary);
    font-size: 12px;
    color: var(--color-primary);

    button {
      width: 16px !important;
      height: 16px !important;

      svg {
        width: 10px;
        height: 10px;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__error {
    position: absolute;
    top: -36px;
    left: 16px;

    padding: 6px 12px;

    background: #fff0f0;
    border: 1px solid #f8d7d7;
    border-radius: var(--border-radius-s);

    font-size: var(--font-size-small);
    color: #d96c42;

    white-space: nowrap;

    &::after {
      content: '';
      position: absolute;
      bottom: -6px;
      left: 20px;

      width: 10px;
      height: 10px;

      background: #fff0f0;
      border-right: 1px solid #f8d7d7;
      border-bottom: 1px solid #f8d7d7;

      transform: rotate(45deg);
    }
  }

  &__field--error {
    .input {
      border-color: #e59c7f;
      background-color: #fff5f2;
    }
  }
}