.weather-overview {
  z-index: 1;
  position: relative;
  top: -350px;

  &__card {
    display: flex;
  }

  &__card-item {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    padding: 0 50px;
  }

  &__direction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__cloud {
    font-size: 14px;
  }

  &__comp {
    font-size: 24px;
  }
}

h2 {
  padding: 24px 24px 0;
  font-size: 30px;
  font-weight: var(--font-weight-semibold);
}