.weather-overview {
  z-index: 1;
  position: relative;
  top: -350px;

  @include mobile {
    top: 0;
  }

  &__card {
    @include flex-center;
    width: 100%;
  }

  &__card-item {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    padding: 0 fluid(100, 20);

    @include laptop-s {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0 fluid(40, 20);
    }

    @include mobile {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0 fluid(40, 20);
    }
  }

  &__title{
    padding: fluid(24, 16) fluid(24, 16) 0;
    font-size: fluid(30, 20);
    font-weight: var(--font-weight-semibold);
  }

  &__direction {
    @include flex-center;
    justify-content: space-between;
    width: 100%;
  }

  &__cloud {
    font-size: fluid(14, 12);
  }

  &__comp {
    font-size: fluid(24, 18);
  }
}