.auth-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: rgba(0, 0, 0, 0.9);

  h1 {
    color: var(--color-text-light);
    font-size: 32px;
  }

  &__theme {
    p {
      color: var(--color-text-light);
    }
  }
}

.auth-modal {
  padding: 24px;
  background-color: var(--color-bg);
  border-radius: var(--border-radius-s);
  box-shadow: 0 0 30px var(--color-shadow-modal);;

  .modal__inner {
    width: 420px;
    max-height: 80vh;
    overflow-y: auto;
    padding: 24px;

    @include mobile {
      width: 100%;
    }
  }
}

