.icon {
  width: 28px;
  height: 28px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 100%;
    height: 100%;
  }

  &--favorite {
    color: var(--color-favorite);

    svg {
      fill: var(--color-favorite);
    }
  }
}

.button__icon {
  width: 28px;
  height: 28px;
}