
.home-hero {
  position: relative;
  min-height: 90vh;

  &__inner {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: fluid(60, 24) fluid(100, 20);
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__title {
    font-family: var(--font-family-base), sans-serif;
    font-size: fluid(52, 28);
    color: var(--color-text);
  }

  &__description {
    font-family: var(--font-family-base), sans-serif;
    font-size: fluid(14, 12);
    color: var(--color-text);
  }

  &::after {
    pointer-events: none;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 120px;
    background: linear-gradient(to top, var(--color-bg), transparent);
  }

  &__button {
    width: 200px;
    max-width: 100%;
    margin-top: 10px;
  }
}